<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johhns.BaseDatos_Semana_5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BaseDatos_Semana_5"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseDatos_Semana_5">
        <activity
            android:name=".Vista.AcercaDe"
            android:exported="true"
            android:parentActivityName=".Vista.MainActivity"
            />
        <activity
            android:name=".Vista.Contacto"
            android:exported="true"
            android:parentActivityName=".Vista.MainActivity"/>
        <activity
            android:name=".Vista.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>